@import './_variables';

#projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 295px);
  grid-template-rows: repeat(auto-fit, 200px);
  gap: 20px;

  padding: 30px;
}

.project {
  background-color: white;
  width: 295px;
  height: 200px;
  max-height: 200px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 5px 5px 5px lightgrey;
  border-left: solid 10px $cyan-500;

  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
}

.project-title {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 10px 0;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.project-description {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  max-height: 60%;
}

.project-icons {
  height: 30px;
  margin: 10px;
  margin-right: -5px;
  position:absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  gap: 10px;
  border-radius: 10px;
}

@media screen and (max-width: 850px) {
  .project {
    width: 100%;
  }

  #projects-container {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 851px) and (max-width: 1220px) {
  .project {
    width: 100%;
  }

  #projects-container {
    grid-template-columns: 1fr 1fr;
  }
}