// sass --watch src/sass/style.scss:src/css/style.css

$black: #242424;
$blue: #117E89;
$red: #DB3A34;
$green: #A5C882;
$yellow: #F7DD72;

$cyan-950: #042F2E;
$cyan-900: #164E63;
$cyan-800: #155E75;
$cyan-700: #0E7490;
$cyan-600: #0891B2;
$cyan-500: #06B6D4;
$cyan-400: #22D3EE;
$cyan-300: #67E8F9;
$cyan-200: #A5F3FC;
$cyan-100: #CFFAFE;
$cyan-50: #ECFEFF;

body {
  margin: 0;
  display: grid;
  grid-template-columns: 225px 1fr;
  grid-template-rows: 100vh;
}

#sidebar {
  background-color: $cyan-600;
}