@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// sass --watch src/sass/style.scss:src/css/style.css

$black: #242424;
$blue: #117E89;
$red: #DB3A34;
$green: #A5C882;
$yellow: #F7DD72;

$cyan-950: #042F2E;
$cyan-900: #164E63;
$cyan-800: #155E75;
$cyan-700: #0E7490;
$cyan-600: #0891B2;
$cyan-500: #06B6D4;
$cyan-400: #22D3EE;
$cyan-300: #67E8F9;
$cyan-200: #A5F3FC;
$cyan-100: #CFFAFE;
$cyan-50: #ECFEFF;

body {
  margin: 0;
  display: grid;
  grid-template-columns: 235px 1fr;
  grid-template-rows: 100vh;
  font-family: 'Roboto', monospace;
}

#sidebar {
  background-color: $cyan-600;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header-icon {
  height: 50px;
  width: 235px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 5px;

  img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
  }

  span {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto', monospace;
  }
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 80%;
  gap: 5px;

  a {
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    
    &:visited, &:link {
      color: white;
      text-decoration: none;
    }
  }
}

.nav-icon {
  width: 30px;
  height: 30px;
  display: inline;
  margin-right: 5px;
} 